.title-label {
    -fx-text-fill: blue;
    -fx-font-size: 20px;
    -fx-underline: true;
    -fx-cursor: hand; /* Changes the cursor to a hand when hovering over the title */
}

.title-label:hover {
    -fx-text-fill: darkblue; /* Changes the color of the title to dark blue when hovering */
}