.button {
    -fx-background-color: #3ee0ed; /* Green background */
    -fx-border: none; /* No border */
    -fx-text-fill: white; /* White text color */
    -fx-text-align: center; /* Centered text */
    -fx-text-decoration: none; /* No underline */
    -fx-display: inline-block;
    -fx-cursor: pointer; /* Cursor on hover */
    -fx-border-radius: 20px; /* Rounded corners */
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: rgba(62, 224, 237, 0.72); /* Darker green on hover */
    -fx-cursor:hand;
}