

.results-vbox {
    -fx-spacing: 20px;
    -fx-padding: 100;
}

.title-label {
    -fx-font-size:50;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-underline: true;
}

.year-label {
    -fx-font-size: 30;
    -fx-text-fill: #41aa1b;
    -fx-font-weight: bold;
}

.authors-label {
    -fx-font-size: 30;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.text-label {
    -fx-font-size: 25;
    -fx-text-fill: #000000;
    -fx-text-alignment: left;
}

